.img-select-cont {
    width: 97%; 
    margin: 0 auto;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: .6rem;
    height: 94%;
    padding:.5rem 0 ;
}
.img-sect-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-head-rgt {
    display: flex;
    justify-content: space-between;
    margin-right: .5rem;
    font-size:1.3rem;
    align-items: center;
}
.img-owner {
    display: flex;
    align-items: center;
}
.img-owner img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 0 .5rem;
}
.img-owner h3 {
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    margin-top: .7rem;
}
.img-likes,.img-fav-add  {
padding: .2rem .4rem;
border-radius: .2rem;
cursor: pointer;
}
.img-likes i,.img-fav-add i {
    margin-right: .4rem;
    color: rgb(7, 136, 7);
}
.img-download i{
border: 1px solid;
font-size:1.5rem;
padding: .5rem .8rem;
background-color: rgb(54, 128, 54);
border-radius:.3rem;
color: white;
cursor: pointer;
}
.img-likes:hover,.img-fav-add:hover, .img-download button:hover {
    transform: scale(0.98);
}
.img-content {
justify-content: center;
width: 100%; 
margin: 0 auto;
text-align: center;
}
.img-content img{
padding:.5rem .2rem;
height: 33rem;
width: 98%;
max-width: 25rem;
}
.img-alt {
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


