.wallpaper {
  height: 100%;
  justify-content: center;
  color: white;
}
.wall-header {
  background-color: rgb(36, 36, 44);
  background-image: url(../images/wall2.jpg);
  background-position: center;
}
.wallpaper-home {
  width: 100%;
  margin-top: 0px;
  border-bottom: 0.5rem solid rgb(98, 98, 99);
  padding: 8rem 0 4rem 0;
  margin: 0px;
}
.wallpaper-search {
  text-align: center;
  border: 1px solid;
  max-width: 55rem;
  margin: 0 auto;
  padding: 3rem;
  background-color: green;
}
.wallpaper-search h1 {
  margin: 0 auto;
  text-align: justify;
  padding: 2rem;
  font-size: 2.5rem;
}
.wallpaper-search input,
.wall-nav-search input {
  background: lightgray;
  color: rgb(24, 17, 17);
  height: 3rem;
  min-width: 95%;
  border-radius: 1rem;
  border: 0px;
  text-indent: 1rem;
  font-size: 1.2rem;
}
.wallpaper-search i,
.wall-nav-search i {
  position: relative;
  cursor: pointer;
  color: rgb(128, 127, 127);
  background: transparent;
  font-size: 1.4rem;
  padding: 1rem;
  left: -3.5rem;
  bottom: -0.25rem;
  margin-right: -3.5rem;
}
.wallpaper-search button:hover {
  cursor: pointer;
  transform: scale(0.98);
}
.wallpaper-page {
  column-gap: 0.3rem;
  column-width: 16.3rem;
  padding:1rem 0.5rem;
  background: gray;
  padding-bottom: 1rem;
}
.image-card {
  position: relative;
  align-items: center;
  justify-content: center;
}
.image-card img {
  width: 96%;
  min-width: 14rem;
  object-fit: cover;
  cursor: pointer;
  border-radius: 0rem;
  box-shadow: 4px 4px 4px black;
}

.image-act {
  position: relative;
  bottom: 1rem;
  background: transparent;
  margin: 0 auto;
  margin-top: -2.4rem;
  padding: 1.5rem 0 0.2rem 0;
  width: 96%;
  border-radius: 0rem;
  opacity: 0;
  text-align: center;
}
.image-act:hover {
  opacity: 1;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(22, 22, 22, 0.781) 0%,
    rgba(78, 78, 78, 0) 100%
  );
}

.image-act i {
  font-size: 1.4rem;
  margin: 0 1rem;
  background: transparent;
  color: rgb(219, 219, 215);
}
.image-act i:hover {
  color: rgb(216, 102, 57);
  cursor: pointer;
}
.imgage-favs {
  color: rgb(224, 61, 32);
}
.footer {
  padding: 1rem;
  justify-content: center;
  text-align: center;
  background: gray;
}
.footer button {
  margin: 0 auto;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  background: rgb(54, 128, 54);
  color: white;
  border: 0px;
  border-radius: 0.2rem;
  cursor: pointer;
}
.footer button:hover {
  transform: scale(0.97); 
}

/* 
        Navigation stylings starts here
    ======================================
    ======================================
 */

.wall-nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background: transparent;
}
.trans {
  background-color: transparent;
}
.wall-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  background-color: rgba(7, 7, 10, 0.637);
  padding-bottom: 5px;
  height: 4rem;
}
.wall-nav-logo {
  margin-left: .1rem;
  width: 13%;
  min-width: 10.7rem;
}
.wall-nav-logo .brand-name {
  display: flex;
  align-items: center;
}
.wall-nav-logo img {
    max-width: 4.2rem;
    max-height: 4.2rem;
    cursor:pointer;
  }
  .brand-name {text-decoration: none;}
  .brand-name h3 {
    text-decoration: none;
    color: yellow;
    font-size:2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  }
.wall-nav-search {
  width: 40%;
  padding: 0px;
  align-items: center;
  min-width: 15.2rem;
}
.wall-nav-search input {
  height:2.8rem;
}
.wall-nav-links {
  display: flex;
  margin-left: 2px;
  width: 42%;
  justify-content: space-evenly;
  padding: 0px;
  align-items: center;
}
.wall-nav-link {
  list-style: none;
  text-decoration: none;
  color: antiquewhite;
  padding: 0.5rem 0.5rem;
}
.wall-nav-link:hover {
  color: rgb(157, 204, 207);
}
.wall-nav-links .wall-nav-icon {
  display:none;
}
.wall-bar {
  display: none;
}

      /*  Selected Image section */

      .wal-img-sect {
        position: fixed;
        width: 100%;
        background-color: rgba(15, 22, 15, 0.61);
        z-index: 1;
        padding:1rem 0 1rem 0;
        height: 100%;
        top: 0px;
        color: white;
        justify-content: space-around;
      }
      .x-toggle {
        cursor: pointer;
        background-color:rgb(129, 89, 89);
        height: 2.5rem;
        width: 2.5rem;
        margin: .5rem 0 0 1rem;
        border-radius:.5rem;
        float: left;
      }
      .x-toggle:hover {
        background-color: rgb(173, 58, 58);
        transform: scale(.924);
      }
      .xmark {
        width: 2rem;
        height: .25rem;
        margin-top: .5rem;
        background-color: azure;
        transform: rotate(45deg);
        float: left;
        margin:1.1rem 0 0 .25rem;
      }
      .xmark::before {
        content: "";
        display: block;
        width: 2rem;
        height: .25rem;
        background-color: rgb(250, 255, 255);
        transform: rotate(90deg);
      }
      .wall-header .fa-angle-left, .fa-angle-right{
        font-size: 4rem;
        top: 45%;
        position: fixed;
        cursor: pointer;
      }
      .wall-header .fa-angle-left{        
        left: 1rem; 
      }
      .wall-header .fa-angle-right{
        right: 1rem;
      }

      /* Midway header changes */

@media (max-width:775px) {
  .wall-nav-logo {
  margin-left: .3rem;
  width: 10%;
  min-width: 9.5rem;
}
.brand-name h3 {
  font-size:1.6rem;
}
.wall-nav-search i {
  padding: .5rem;
  left:-2.5rem;
}

  .wall-nav-link {
    padding:0.3rem;
    width: 38%;
  }
  .wall-nav-links .wall-nav-txt {
  display:none;
}
.wall-nav-links .wall-nav-icon {
  display:block;
  padding: 0px;
  width:2rem;
}
.wall-icon-letter {
  background:blue;
  padding:.1rem .6rem;
  width:1.2rem;
  font-size: 2rem;
  margin:0px;
  border-radius:50%;
  border:1px solid;
  font-family:monospace;
}
}


/* 
                    Mobile CSS first designs
================================================================
================================================================
*/

@media (max-width: 600px) {
  .wallpaper-search {
    padding: 4rem 0 0 0;
    border: none;
  }
  .wallpaper-search h1 {
    font-size: 1.8rem;
  }
  .wallpaper-search input,
  .wallpaper-search i {
    display: none;
  }

  /*  Header mods for Mobile*/

  .wall-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    background-color: rgba(7, 7, 10, 0.637);
  }
  .wall-nav-logo {
    margin-left: 0.1rem;
    width: 9%;
    margin: 0px;
    min-width:4rem;
  }
  .brand-name h3{display: none}
  .wall-nav-search {
    width: 60%;
    padding: 0px;
    min-width: 11rem;
  }
  .wall-nav-search input {
    width: 95%;
    height: 1.8rem;
    border-radius: 0.2rem;
    font-size: 1rem;
    text-indent: .3rem;
  }
  .wall-nav-search i {
    top: 0.1rem;
    left: -2.5rem;
    height: 2.5rem;
    padding: 0.5rem 1.1rem;
  }
  .wall-nav-links {
    display: none;
    margin: 0;
  }
  .wall-bar {
    display: block;
    padding: 0.6rem;
    color:white;
  }
  .wall-bar i {
    font-size: 2rem;
  }

  /*  Mobile Wallpaper gallery  */

  .wallpaper-page {
    column-gap: 0.5rem;
    column-width: 10rem;
    padding-top: 0.5rem;
    background: gray;
    column-fill: balance;
  }

  .image-card {
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-bottom: 1rem;
  }

  .image-card img {
    width: 96%;
    min-width: 10rem;
    cursor: pointer;
    border-radius: 0.3rem;
    box-shadow: 3px 3px 8px black;
  }

  .image-item {
    padding: 0.2rem;
  }

  .image-act {
    position: relative;
    bottom: 0.4rem;
    background: transparent;
    margin-top: -1.5rem;
    padding: 0.25rem 0;
    width: 96%;
    border-radius: 0.4rem;
    opacity: 1;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      0deg,
      rgba(22, 22, 22, 0.781) 0%,
      rgba(78, 78, 78, 0) 100%
    );
  }

  .image-act i {
    font-size: 1.2rem;
  }
}
